/*----------------
my fonts 
-----------*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Outfit:wght@500;700&family=Poppins:wght@500&family=Source+Code+Pro:ital@1&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Outfit:wght@500;700&family=Poppins:wght@500&family=Shippori+Antique&family=Source+Code+Pro:ital@1&family=Ubuntu&display=swap');

/*------------------
default style 
---------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Outfit', sans-serif, 'Shippori Antique', sans-serif;
}

header{
    height: 100vh;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes sliding{
    25%{
        background-image: url("images/background.jpg");
    }
    50%{
        background-color: tomato;
    }
    75%{
        background-image: url("images/background.jpg");
    }
    100%{
        background-image: url("images/background.jpg");
    }
}

/*-----------------
common style 
--------------*/
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    
}

/*----------------
nav bar style
-------------*/
.navbar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    font-family: 'Shippori Antique';
}
.menu ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.menu ul a{
    font-size: 16px;
    padding: 10px 15px;
    text-decoration: none;
    color: #1c1c1c;
}
a:hover{
    border-bottom: 2px solid darkblue;
}

/*------------------
banner style 
--------------*/
.banner{
    height: (100vh - 80px);
    display: flex;
    
    
}
.banner-heading{
    width: 50%;
    margin-top: 20%;

}
.banner-heading h1{
    font-size: 40px;
}
.banner-heading p{
    line-height: 1.7;
    margin-bottom: 20px;
}
.prebook-btn{
    border: 2px solid black;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.5s;
}
.fa-arrow-right{
    padding-left: 5px;
}
.prebook-btn:hover{
    background-color: darkblue;
    color: white;
}

/*===================
Product page style
=============*/

.product-page > p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 5%;
    
}
.logos{
    margin: 5% auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.product{
    height: 360px;
    width: 250px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-radius: 5px;
    padding-top: 10px;
    justify-content: flex-start;
    
}


/* product detail start */
.product-detial{

    padding: 12px 15px;
}
#product{
    font-size: 30px;
}
.product-detial h3{
    font-weight: 500;
}
.product-detial p{
    font-size: 12px;
    margin-top: 5x;
    color: #787885;
}

.img img{
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: auto;
    width: 90%;
    border-radius: 5px;
    
} 
/* Rating star style */
.fa-star{
    color: gold;
    font-size: 10px;
}

/*------------------------
see more button style
---------------- */
.sm-btn-arrow{
    font-size: 10px;
}
.sm-btn{
    width: 90%;
    display: flex;
    justify-content: right;
    color: #1c1c1c;
}
.sm-btn a{
    text-align: right;
    color: #1c1c1c;
}

/*------------------------------
Featured products style 
--------------------*/
.featured-products{
    margin-top: 5%;
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Outfit';
}
.featured-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.featured-right{
    display: flex;
    align-items: center;
}
.f-content h1{
   font-size: 30px;
   margin-bottom: 20px;
   
}
.f-content p{
    line-height: 1.5;
    margin-bottom: 20px;
}
.f-content button{
    width: 120px;
    padding: 5px 20px;
    background-color: transparent;
    border: 2px solid black;
    transition: 0.4s;
    border-radius: 5px;
}
.f-content button:hover{
    color: white;
    background-color: darkblue;
}

/*================================================
footer style 
=====================================*/
footer{
    
    color: white;
    text-align: center;
    background-color: #1c1c1c;
}
footer h2{
    padding: 10px 0 0 0;
    font-size: 15px;
}
footer p{
    font-size: 10px;
}
footer .fab{
    font-size: 10px;
    padding: 0 10px 10px 0;
    background-color: transparent;
}
.footer a{
    text-decoration: none;
    color: white;
}
a:visited{
    color: white;
}
